$gradiente: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,86,186,1) 100%, rgba(0,0,0,1) 100%);

body {
    margin: 0%;
    padding: 0%;
}

* {
    box-sizing: border-box;
}

.grediente{
    background: $gradiente
}

.navegacion a{
    color: aliceblue;
}

.fondo_gris{
    height: auto;
    background: rgb(44,44,48);
    background: radial-gradient(circle, rgba(44,44,48,1) 0%, rgba(188,211,238,1) 100%, rgba(0,0,0,1) 100%);
}

.cont_index{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

    a{
        text-decoration: none;
        font-size: 30px;
        color: aliceblue;
    }
}

.slide {
    padding-top: 10px;

    img{
        height: 70vh;
    }
}

.texto{
    font-style: italic;
    font-size: 20px;
    text-align: center;

    p{
        margin-bottom: 0%;
    }
}

.somos{
    padding-bottom: 40px;
}

/*seccion productos*/

.grid_productos{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 100px);
    padding-top: 5px;
    padding-bottom: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    grid-template-areas: "mouse"
                         "teclados"
                         "monitores"
                         "sillas"
                         "auriculares";

    & > div{
        display: flex;
        background-color: rgb(28, 105, 194);
    }

    & a{
        color: aliceblue;
        font-size: 30px;
        font-style: italic;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

/* grid area -productos page- */

.mouse{
    grid-area: mouse;

    a{
        background-image: url(../imagenes/mouse_productos.png);
    }
}

.teclados{
    grid-area: teclados;

    a{
        background-image: url(../imagenes/teclado_productos.png);
    }
}

.monitores{
    grid-area: monitores;

    a{
        background-image: url(../imagenes/monitores_productos.png);
    }
}

.auriculares{
    grid-area: auriculares;

    a{
        background-image: url(../imagenes/auriculares_productos.png);
    }
}

.sillas{
    grid-area: sillas;

    a{
        background-image: url(../imagenes/sillas_productos.png);
    }
}

/* seccion combos */

.grid_combos{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 200px);
    padding-top: 5px;
    padding-bottom: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    grid-template-areas: "combo1"
                         "combo2"
                         "combo3"
                         "combo4";

    & > div{
        display: flex;
        background-color:rgb(28, 105, 194);
    }

    & a{
        color: aliceblue;
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

 /* grid area -combos page- */

.combo_1{
    grid-area: combo1;

    a{
        background-image: url(../imagenes/combo-1.png);
    }
} 

.combo_2{
    grid-area: combo2;

    a{
        background-image: url(../imagenes/combo-2.png);
    }
}

.combo_3{
    grid-area: combo3;

    a{
        background-image: url(../imagenes/combo-3.png);
    }
}

.combo_4{
    grid-area: combo4;

    a{
        background-image: url(../imagenes/combo-4.png);
    }
}

/* seccion marcas */

.grid_marcas{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "logitech"
                         "redragon"
                         "asus"
                         "razer";
    
    & > div{
        display: flex;
        background-color:rgb(28, 105, 194);
    }

    & a{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* grid area -marcas page- */

.logitech{
    grid-area: logitech;

    a{
        background-image: url(../imagenes/logitech-marca.png);
    }
}

.redragon{
    grid-area: redragon;

    a{
        background-image: url(../imagenes/reddragon-marca.png);
    }
}

.asus{
    grid-area: asus;

    a{
        background-image: url(../imagenes/asus-marca.png);
    }
}

.razer{
    grid-area: razer;

    a{
        background-image: url(../imagenes/razer-marca.png);
    }
}

/* seccion contacto*/

.form{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 50px);
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-between;

    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,86,186,1) 100%, rgba(0,0,0,1) 100%);

    a{
        text-decoration: none;
        color: aliceblue;
    }

    li{
        list-style: none;
    }
}

.redes{
    display: flex;
    padding-right: 5px;
}

.imagenes-redes{
    display: flex;
    align-items: center;
    margin-right: 2px;
}
  
.menu_footer{
    font-size: 15px;
}

@media (min-width: 700px){
    .img_index{
        height: 400px;
    }
}

@media (min-width: 900px){
    .img_index{
        height: 450px;
    }
    .slide img{
        height: 90vh;
    }
}

@media (min-width: 1200px){
    .img_index{
        height: 600px;
    }

    /*productos*/

    .grid_productos{
        grid-template-columns: 500px;
        grid-template-rows: repeat(5, 200px);

        & a:hover{
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
    }

    .mouse a{
        background-image: url(../imagenes/mouse.1200px.png);
    }

    .teclados a{
        background-image: url(../imagenes/teclado.1200px.png);
    }

    .monitores a{
        background-image: url(../imagenes/monitores.1200px.png);
    }

    .sillas a{
        background-image: url(../imagenes/sillas.1200px.png);
    }

    .auriculares a{
        background-image: url(../imagenes/auriculares.1200px.png);
    }

    /* combos */

    .grid_combos{
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 200px);

        & a:hover{
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
    }

    .combo_1 a{
        background-image: url(../imagenes/combo-1.1200px.png);
    }

    .combo_2 a{
        background-image: url(../imagenes/combo-2.1200px.png);
    }

    .combo_3 a{
        background-image: url(../imagenes/combo-3.1200px.png);
    }

    .combo_4 a{
        background-image: url(../imagenes/combo-4.1200px.png);
    }

    /* carrousel */

    .slide img{
        height: 100vh;
    }

    /* marcas */

    .grid_marcas{
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 200px);

        & a:hover{
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
    }

    .logitech a{
        background-image: url(../imagenes/logitech-marca-1200px.png);
    }

    .redragon a{
        background-image: url(../imagenes/redragon-marca-1200px.png);
    }

    .asus a{
        background-image: url(../imagenes/asus-marca-1200px.png);
    }

    .razer a{
        background-image: url(../imagenes/razer-marca-1200px.png);
    }

}